body {
  margin: 0;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative; }

.landing-page {
  background-image: url("../img/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  height: 100vh; }

.credentials {
  padding: 5px;
  margin: 0 20px 0 20px;
  box-shadow: 1px 1px #00b3b3; }

.alert {
  padding: 1rem;
  border-radius: 20px;
  opacity: 0.9;
  color: #333; }

.danger {
  background: #dc3545;
  color: #fff;
  margin: 0 auto; }

.success {
  background: #28a745;
  color: #fff;
  margin: 0 auto; }

.navbar {
  display: flex; }

.logo img {
  margin: 10px 0 0 20px; }
.logo a:hover {
  color: #fff;
  cursor: default; }

.menu {
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly; }
  .menu .links {
    flex-grow: 2;
    display: inline; }
  .menu ul {
    margin-top: 45px; }
    .menu ul li {
      text-decoration: none;
      display: inline;
      margin: 0 50px 0 50px; }
      .menu ul li a {
        text-decoration: none;
        color: #fff; }
        .menu ul li a:hover {
          color: #00b3b3;
          cursor: pointer; }
  .menu .btns {
    margin: 30px 30px 0 0; }

.btn {
  background: none;
  color: #fff;
  border: none;
  font-size: 20px;
  width: 120px;
  height: 50px; }
  .btn:hover {
    color: #00b3b3;
    cursor: pointer; }
  .btn a {
    text-decoration: none;
    color: #fff; }
    .btn a:hover {
      color: #00b3b3;
      cursor: pointer; }

.jumbotron {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.jumbotron-p-1 {
  font-size: 50px;
  margin-bottom: -15px; }

.jumbotron-p-2 {
  font-size: 20px; }

.btn-jumbo {
  font-size: 15px;
  background: none;
  color: #fff;
  border: none;
  font-size: 20px;
  width: 120px;
  height: 50px;
  background-color: #00b3b3;
  margin-right: 10px; }
  .btn-jumbo:focus {
    outline: none; }
  .btn-jumbo a {
    text-decoration: none;
    color: #fff; }
    .btn-jumbo a:hover {
      color: #666f6d; }

.contact-form-div {
  display: flex;
  justify-content: space-around;
  margin-top: 5%; }

.contact-us-form {
  background-color: #fcffff;
  padding: 1%;
  position: static;
  display: flex;
  flex-flow: column;
  width: 25%;
  height: auto;
  color: #000;
  justify-content: space-between;
  border-radius: 10px;
  text-align: center; }

.contact-form-inputs {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 10%;
  height: auto; }
  .contact-form-inputs label {
    color: #008080;
    padding: 10px;
    font-weight: 300;
    font-size: 40px;
    margin: 0 auto; }
  .contact-form-inputs input {
    border: 1px solid #00b3b3;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 1px 1px #00b3b3; }
    .contact-form-inputs input:focus {
      outline: none; }
  .contact-form-inputs textarea {
    border-radius: 20px;
    border: 1px solid #00b3b3;
    margin-top: 20px;
    height: 50px;
    resize: none;
    padding: 15px;
    box-shadow: 1px 1px #00b3b3; }
    .contact-form-inputs textarea:focus {
      outline: none; }
  .contact-form-inputs .preferred-div span {
    font-size: 15px;
    padding: 0;
    margin-left: 6%;
    color: #008080;
    font-weight: 100; }
  .contact-form-inputs .preferred-div label {
    font-size: 15px;
    padding: 0;
    margin-left: -3%;
    color: #008080;
    font-weight: 100; }

.contact-input {
  margin: 20px 20px 0 20px; }

.btn-submit {
  margin: 0 auto 0 auto;
  font-size: 15px;
  background: none;
  color: #fff;
  border: none;
  font-size: 20px;
  width: 120px;
  height: 50px;
  background-color: #00b3b3; }
  .btn-submit:focus {
    outline: none; }
  .btn-submit:hover {
    color: #666f6d;
    cursor: pointer; }

.contact-us-support {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #fcffff;
  font-weight: bold;
  font-size: 20px; }
  .contact-us-support p {
    margin-top: -3%; }
  .contact-us-support span {
    text-decoration: underline; }

.auth-form {
  display: flex;
  flex-flow: column;
  width: 25%;
  height: auto;
  background-color: #fff;
  color: #000;
  justify-content: space-between;
  position: fixed;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.form-inputs {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 10%;
  height: auto; }
  .form-inputs label {
    color: #008080;
    padding: 10px;
    font-weight: 300;
    font-size: 40px; }
  .form-inputs input {
    border: 1px solid #00b3b3;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 1px 1px #00b3b3; }
    .form-inputs input:focus {
      outline: none; }

.auth-inputs {
  margin: 20px 20px 0 20px; }

.btn-submit {
  margin: 0 auto 0 auto;
  font-size: 15px;
  background: none;
  color: #fff;
  border: none;
  font-size: 20px;
  width: 120px;
  height: 50px;
  background-color: #00b3b3; }
  .btn-submit:focus {
    outline: none; }
  .btn-submit:hover {
    color: #666f6d;
    cursor: pointer; }

.form-option-1 {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 5%; }
  .form-option-1 span {
    color: #008080;
    padding: 10px;
    font-weight: 100;
    font-size: 18px; }
  .form-option-1 .social a {
    background-color: #008080;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 5px; }
    .form-option-1 .social a i {
      color: #fff;
      width: 40px;
      height: 50px; }
  .form-option-1 .social .socialBtn {
    background-color: #008080;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 5px; }
    .form-option-1 .social .socialBtn:focus {
      outline: none; }
    .form-option-1 .social .socialBtn i {
      color: white;
      font-size: 20px; }
      .form-option-1 .social .socialBtn i:hover {
        cursor: pointer; }

.text-3 {
  color: #008080;
  padding: 10px;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
  margin-top: 10%; }
  .text-3 a {
    text-decoration: none;
    color: #008080; }

.navbar {
  display: flex; }

.landing-profile {
  background-color: #343a40; }

.logo img {
  margin: 10px 0 0 20px; }
.logo a:hover {
  color: #fff;
  cursor: default; }

.menu {
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly; }
  .menu .links {
    flex-grow: 2;
    display: inline; }
  .menu ul {
    margin-top: 45px; }
    .menu ul li {
      text-decoration: none;
      display: inline;
      margin: 0 50px 0 50px; }
      .menu ul li a {
        text-decoration: none;
        color: #fff; }
        .menu ul li a:hover {
          color: #00b3b3;
          cursor: pointer; }
  .menu .btns {
    margin: 30px 30px 0 0; }

.btn {
  background: none;
  color: #fff;
  border: none;
  font-size: 20px;
  width: 120px;
  height: 50px; }
  .btn:hover {
    color: #00b3b3;
    cursor: pointer; }
  .btn a {
    text-decoration: none;
    color: #fff; }
    .btn a:hover {
      color: #00b3b3;
      cursor: pointer; }

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 35%;
  width: 18%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border-radius: 20px; }

.modal-box h3 {
  margin: 0 auto;
  color: #008080;
  padding: 10px;
  font-weight: 100; }
.modal-box .modal-form {
  flex-grow: 2;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start; }
  .modal-box .modal-form input {
    border: 1px solid #00b3b3;
    border-radius: 20px;
    box-shadow: 1px 1px #00b3b3; }
    .modal-box .modal-form input:focus {
      outline: none; }
  .modal-box .modal-form .modal-save {
    background-color: #008080;
    border: none;
    color: #fff;
    margin: 0 auto;
    width: 20%;
    height: 30px;
    font-size: 15px; }
    .modal-box .modal-form .modal-save:hover {
      background-color: #00b3b3; }
.modal-box .close-modal {
  position: absolute;
  top: 5%;
  left: 90%;
  background-color: #fcffff;
  border: none; }
  .modal-box .close-modal:hover {
    background-color: #00b3b3; }

.profile-edit-modal-input {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px; }

.profile-data {
  display: flex;
  flex-flow: column; }
  .profile-data p {
    padding: 10px;
    border-bottom: 1px solid #666f6d;
    font-size: 1em; }

.btn-edit-profile {
  margin: 0 auto 0 auto;
  font-size: 15px;
  background: none;
  color: #fff;
  border: none;
  font-size: 20px;
  width: 120px;
  height: 50px;
  background-color: #00b3b3; }
  .btn-edit-profile:focus {
    outline: none; }
  .btn-edit-profile:hover {
    color: #666f6d;
    cursor: pointer; }

.change-password {
  display: flex;
  flex-flow: column;
  margin-bottom: 10%;
  font-weight: bold;
  height: auto; }
  .change-password p {
    font-size: 1.8em;
    padding-top: 20px;
    border-top: 1px solid black; }
  .change-password .change-password-input {
    margin-bottom: 15px;
    height: 30px; }
  .change-password .btn-submit {
    margin: 0 auto 0 auto;
    font-size: 15px;
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: #00b3b3; }
    .change-password .btn-submit:focus {
      outline: none; }
    .change-password .btn-submit:hover {
      color: #666f6d;
      cursor: pointer; }

.profile-img {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 100px 5% 5px 5%;
  flex-grow: 2;
  justify-content: start;
  border-right: 1px solid black;
  margin: 100px auto 5px auto; }
  .profile-img .image-upload-btn {
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .profile-img .image-upload-btn img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin: 100px auto 30px auto; }
    .profile-img .image-upload-btn input {
      width: 60%; }
    .profile-img .image-upload-btn .btn-upload {
      margin: 0 auto 10px auto;
      font-size: 15px;
      background: none;
      color: #fff;
      border: none;
      font-size: 20px;
      width: 120px;
      height: 50px;
      background-color: #00b3b3; }
      .profile-img .image-upload-btn .btn-upload:focus {
        outline: none; }
      .profile-img .image-upload-btn .btn-upload:hover {
        color: #666f6d;
        cursor: pointer; }

.container {
  background-color: #fcffff;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.profile {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 100px 5% 5px 5%; }

.property-details {
  display: flex;
  flex-flow: column;
  justify-content: space-around; }
  .property-details input {
    height: 20px;
    margin-bottom: 10px; }
  .property-details select {
    height: 20px;
    margin-bottom: 10px; }

.property-overview textarea {
  width: 98%;
  height: 100px;
  resize: none; }

.property-facts-features input {
  height: 20px; }
.property-facts-features select {
  height: 20px; }

.property-nearby-school input {
  height: 20px; }

.property-nearby-things input {
  width: 98%;
  height: 20px;
  margin-bottom: 10px; }

.add-listing-details {
  display: flex;
  flex-flow: column;
  padding-right: 20px;
  margin: 30px 20px 0 20px;
  height: 100vh;
  align-items: center; }
  .add-listing-details .all-details {
    overflow-y: auto; }
    .add-listing-details .all-details input {
      margin-right: 5px; }
    .add-listing-details .all-details select {
      margin-right: 5px; }
  .add-listing-details .btn-save {
    margin: 0 auto 40px auto;
    font-size: 15px;
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: #00b3b3;
    padding: 10px; }
    .add-listing-details .btn-save:focus {
      outline: none; }
    .add-listing-details .btn-save:hover {
      color: #666f6d;
      cursor: pointer; }

.add-listing-images {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-right: 20px;
  margin: 30px 20px 0 20px;
  height: 100vh;
  overflow-y: auto; }
  .add-listing-images .btn-image {
    margin: 0 auto 20px auto;
    font-size: 15px;
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: #00b3b3; }
    .add-listing-images .btn-image:focus {
      outline: none; }
    .add-listing-images .btn-image:hover {
      color: #666f6d;
      cursor: pointer; }
  .add-listing-images .btn-add-listing-edit {
    margin: 0 auto 20px auto; }
  .add-listing-images .listing-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
    max-width: 750px;
    overflow-y: scroll;
    margin-bottom: 20px; }
    .add-listing-images .listing-images img {
      margin-top: 15px;
      width: 350px;
      height: 250px; }

.add-listing-container {
  background-color: #fcffff;
  display: flex;
  justify-content: space-around;
  height: auto; }

.search-criteria {
  position: relative;
  top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666f6d; }
  .search-criteria input {
    height: 30px;
    width: 250px; }
  .search-criteria .search-btn {
    position: absolute;
    top: 5px;
    left: 220px;
    background-color: #fff;
    border: none; }
    .search-criteria .search-btn i {
      color: #333; }

.filter-for {
  padding: 0 20px 20px 10px;
  border-bottom: 1px solid #666f6d; }

.filter-price {
  padding: 0 20px 20px 10px;
  border-bottom: 1px solid #666f6d; }

.filter-home-type {
  padding: 0 20px 20px 10px;
  border-bottom: 1px solid #666f6d; }

.search {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px 20px 20px;
  border-right: 1px solid #666f6d;
  overflow-y: scroll; }
  .search .filter-btn-div {
    margin: 5px auto 5px auto; }
    .search .filter-btn-div .btn-filter {
      margin: 0 auto 20px auto;
      font-size: 15px;
      background: none;
      color: #fff;
      border: none;
      font-size: 20px;
      width: 120px;
      height: 50px;
      background-color: #00b3b3; }
      .search .filter-btn-div .btn-filter:focus {
        outline: none; }
      .search .filter-btn-div .btn-filter:hover {
        color: #666f6d;
        cursor: pointer; }

.listings {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto 20px auto;
  height: 100vh;
  overflow-y: auto; }
  .listings .individual-listing {
    border: 1px solid #666f6d;
    margin: 5% 10px 0 10px;
    width: 420px;
    height: 450px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px; }
    .listings .individual-listing .listing-details .price {
      font-weight: bold;
      font-size: 30px;
      margin-right: 90px; }
    .listings .individual-listing .listing-details .detail {
      padding-right: 10px;
      font-size: 15px;
      font-weight: 500; }
    .listings .individual-listing .listing-details #listing-type {
      font-size: 15px; }
      .listings .individual-listing .listing-details #listing-type i {
        color: #dc3545;
        font-size: 15px;
        margin-top: -5px; }
    .listings .individual-listing .listing-details .btn-listing {
      background-color: #fff;
      border: none;
      color: #000; }
      .listings .individual-listing .listing-details .btn-listing i {
        font-size: 20px; }
      .listings .individual-listing .listing-details .btn-listing:hover {
        cursor: pointer; }
    .listings .individual-listing .listing-details .listing-btns {
      margin-left: 50%; }

.modal-listing-details {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding-right: 10%;
  border-right: 1px solid #333;
  min-width: 25%; }
  .modal-listing-details .listing-modal-container {
    overflow-y: auto;
    height: 100%;
    margin-top: 10%;
    width: 100%; }
  .modal-listing-details .modal-listing-items {
    margin-bottom: 20%; }
  .modal-listing-details .price {
    font-weight: bold;
    font-size: 30px;
    margin: 5% 10% 0 0; }
  .modal-listing-details .detail {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500; }
  .modal-listing-details h3 {
    margin-bottom: 10px;
    border-bottom: 1px solid #666f6d; }

.modal-listing-image {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  max-width: 75%; }
  .modal-listing-image .modal-images {
    overflow-y: auto; }
  .modal-listing-image .modal-image {
    margin: 5% auto 0 auto;
    width: 75%;
    height: 65%; }
    .modal-listing-image .modal-image img {
      width: 100%;
      height: 100%; }

.modal-wrapper-listing {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.modal-backdrop-listing {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-box-listing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 90vh;
  width: 90%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border-radius: 20px; }

.modal-listing {
  display: flex;
  justify-content: space-around;
  height: 90vh; }

.close-modal-listing {
  position: absolute;
  top: 3%;
  left: 97%;
  background-color: #fcffff;
  border: none; }
  .close-modal-listing i {
    font-size: 20px;
    transition: transform 0.2s;
    color: #008080; }
    .close-modal-listing i:hover {
      transform: scale(1.5); }

.outter-container {
  background-color: #fcffff;
  display: flex;
  justify-content: start;
  max-height: 100vh; }

.property-details {
  display: flex;
  flex-flow: column;
  justify-content: space-around; }
  .property-details input {
    height: 20px;
    margin-bottom: 10px; }
  .property-details select {
    height: 20px;
    margin-bottom: 10px; }

.property-facts-features input {
  height: 20px; }
.property-facts-features select {
  height: 20px; }

.property-nearby-school input {
  height: 20px; }

.property-nearby-things input {
  width: 98%;
  height: 20px;
  margin-bottom: 10px; }

.property-overview textarea {
  width: 98%;
  height: 100px;
  resize: none; }

.edit-listing-details {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border-right: 1px solid black;
  padding-right: 20px;
  margin: 30px 20px 0 20px;
  height: 100vh;
  align-items: center; }
  .edit-listing-details .all-details {
    overflow-y: auto; }
    .edit-listing-details .all-details input {
      margin-right: 5px; }
    .edit-listing-details .all-details select {
      margin-right: 5px; }
  .edit-listing-details .btn-save {
    margin: 0 auto 40px auto;
    font-size: 15px;
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: #00b3b3;
    padding: 10px; }
    .edit-listing-details .btn-save:focus {
      outline: none; }
    .edit-listing-details .btn-save:hover {
      color: #666f6d;
      cursor: pointer; }

.edit-listing-images {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-right: 20px;
  margin: 30px 20px 0 20px;
  height: 100vh;
  overflow-y: auto; }
  .edit-listing-images .btn-image {
    margin: 0 auto 20px auto;
    font-size: 15px;
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    width: 120px;
    height: 50px;
    background-color: #00b3b3; }
    .edit-listing-images .btn-image:focus {
      outline: none; }
    .edit-listing-images .btn-image:hover {
      color: #666f6d;
      cursor: pointer; }
  .edit-listing-images .btn-edit-listing-edit {
    margin: 0 auto 20px auto; }
  .edit-listing-images .listing-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
    max-width: 750px;
    overflow-y: scroll;
    margin-bottom: 20px; }
    .edit-listing-images .listing-images img {
      margin-top: 15px;
      width: 350px;
      height: 250px; }
    .edit-listing-images .listing-images .btn-listing {
      background-color: #fff;
      border: none;
      color: #000; }
      .edit-listing-images .listing-images .btn-listing i {
        font-size: 20px; }
      .edit-listing-images .listing-images .btn-listing:hover {
        cursor: pointer; }

.edit-listing-container {
  background-color: #fcffff;
  display: flex;
  justify-content: space-around;
  height: auto; }

/*# sourceMappingURL=App.css.map */
