@import '../../../../../../base/settings';

.modal-listing-details {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding-right: 10%;
  border-right: 1px solid $gray;
  max-width: 25%;

  .listing-modal-container {
    overflow-y: auto;
    height: 100%;
    margin-top: 10%;
  }
  .modal-listing-items {
    margin-bottom: 20%;
  }
  .price {
    font-weight: bold;
    font-size: $xxmedium;
    margin: 5% 10% 0 0;
  }
  .detail {
    padding-right: $tiny;
    font-size: $xxsmall;
    font-weight: 500;
  }
  h3 {
    margin-bottom: $tiny;
    border-bottom: 1px solid $light-gray;
  }
}
