//colors
$teal: #008080;
$light-teal: #00b3b3;
$white: #fff;
$off-white: #fcffff;
$gray: #333;
$light-gray: #666f6d;
$red: #dc3545;
$green: #28a745;
$black: #000;
$dark-blue: #343a40;

//spacing pixels
$xxtiny: 1px;
$xtiny: 5px;
$tiny: 10px;
$xxsmall: 15px;
$xsmall: 18px;
$small: 20px;
$xxmedium: 30px;
$xmedium: 40px;
$medium: 50px;
$large: 100px;
